{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags wagtailembeds_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
{# <link rel="stylesheet" href="{% static 'css/welcome_page.css' %}"> #}
{% endblock extra_css %}

{% block content %}

<div class="cover-section home-hero">
    <div class="container">
        <div class="row home-hero-content">
            <div class="col-12">
                <div class="home-hero-function"><span class="text-orange">HelloWorld</span><span class="text-white">()</span></div>
                <div><span class="text-yellow">def</span> <span class="text-blue">HelloWorld</span><span class="text-white">():</span></div>
                <div class="home-code-indent">
                    <span class="text-white">greetings</span> <span class="text-orange">=</span> <span class="text-pale-blue">"I am Eva"</span><br>
                    <span class="text-white">job</span> <span class="text-orange">=</span> <span class="text-pale-blue">"Full-stack Developer"</span><br>
                    <span class="text-white">specialisation</span> <span class="text-orange">=</span> <span class="text-white">[</span><span class="text-pale-blue">"Python"</span><span class="text-white">,</span> <span class="text-pale-blue">"Django"</span><span class="text-white">]</span><br>
                </div>
            </div>
        </div>
    
    
        <div class="row mb-2">
            <div class="col-12">I am good at</div>
        </div>
        <div class="row">
            <div class="col-12 home-code-indent text-orange"><span class="terminal-cursor hide" data-line="1" data-char="17">&nbsp;</span>Structuring Codes</div>
            <div class="col-12 home-code-indent text-blue"><span class="terminal-cursor hide" data-line="2" data-char="16">&nbsp;</span>MVC Architecture</div>
            <div class="col-12 home-code-indent text-yellow"><span class="terminal-cursor" data-line="3" data-char="12">&nbsp;</span>Solving Bugs</div>
        </div>
    </div>

    <div class="home-social mb-4">
        <div class="d-flex justify-content-center">
            <div class="mr-2">Check out my</div>
            <a href="https://www.linkedin.com/in/eva-chong-606b5449/" class="anim-object">LinkedIn</a>
            <div class="ml-2">profile</div>
        </div>
    </div>
    
</div>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript">
    var current_line = 3
    var cursor_char_position = $(".terminal-cursor[data-line='"+current_line+"']").data("char");
    var cursor_size = 14.5;
    var cursor_pos_x = (cursor_char_position*cursor_size);
    var default_translate = "translateX(" + cursor_pos_x + "px)";


    $(".terminal-cursor[data-line='"+current_line+"']").css("transform", default_translate);

    document.addEventListener("keydown", function(event) {
        if (parseInt(event.which) == 39) {
            // Right
            var line_char = parseInt($(".terminal-cursor[data-line='"+current_line+"']").data("char"));
            var line_max_px = line_char*cursor_size;
            if (cursor_pos_x < line_max_px) {
                cursor_pos_x += cursor_size;
                cursor_char_position += 1;
                var translate = "translateX(" + cursor_pos_x + "px)";
                $(".terminal-cursor[data-line='"+current_line+"']").css("transform", translate);
            }
        } else if (parseInt(event.which) == 37) {
            // Left
            if (cursor_pos_x > 0) {
                cursor_pos_x -= cursor_size;
                cursor_char_position -= 1;
                var translate = "translateX(" + cursor_pos_x + "px)";
                $(".terminal-cursor[data-line='"+current_line+"']").css("transform", translate);
            }
        } else if (parseInt(event.which) == 38) {
            // Up
            if (current_line > 1) {
                $(".terminal-cursor[data-line='"+current_line+"']").addClass("hide");
                current_line -= 1;
                $(".terminal-cursor[data-line='"+current_line+"']").removeClass("hide");

                var line_char = parseInt($(".terminal-cursor[data-line='"+current_line+"']").data("char"));
                var line_max_px = line_char*cursor_size;

                if (cursor_pos_x > line_max_px) {
                    cursor_pos_x = line_max_px;
                }
                var translate = "translateX(" + cursor_pos_x + "px)";
                $(".terminal-cursor[data-line='"+current_line+"']").css("transform", translate);
            }

            // var line_char = parseInt($(".terminal-cursor[data-line='"+current_line+"']").data("char"));
            // var line_max_px = -(line_char*cursor_size);

            
        } else if (parseInt(event.which) == 40) {
            // Down
            if (current_line < 3) {
                $(".terminal-cursor[data-line='"+current_line+"']").addClass("hide");
                current_line += 1;
                $(".terminal-cursor[data-line='"+current_line+"']").removeClass("hide");   

                var line_char = parseInt($(".terminal-cursor[data-line='"+current_line+"']").data("char"));
                var line_max_px = line_char*cursor_size; 
                if (cursor_pos_x > line_max_px) {
                    cursor_pos_x = line_max_px;
                }
                var translate = "translateX(" + cursor_pos_x + "px)";
                $(".terminal-cursor[data-line='"+current_line+"']").css("transform", translate);
            }
            
        }
    });
</script>
{% endblock %}
