/* iphone 6 plus */
@font-face {
  font-family: 'Menlo Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Menlo Regular'), url('../font/Menlo-Regular.woff') format('woff');
}
html {
  height: 100%;
  box-sizing: border-box;
}
body {
  margin: 0;
  min-height: 100%;
  position: relative;
  background-color: #282828;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.text-orange {
  color: #f49d62;
}
.text-white {
  color: #f1f1f1;
}
.text-blue {
  color: #92bfbf;
}
.text-pale-blue {
  color: #bddcdc;
}
.text-yellow {
  color: #ede480;
}
.bg-dark {
  background-color: #282828;
}
.bg-white {
  background-color: #f1f1f1;
}
a {
  color: #f1f1f1;
}
a:hover {
  text-decoration: none;
  color: #f49d62;
}
.main-content {
  padding-top: 8rem;
  padding-bottom: 3rem;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  height: 6rem;
  line-height: 4rem;
  background-color: #f1f1f1;
}
.navbar {
  padding: 1.5rem 1.5rem;
  -webkit-transition: all 0.5s;
  /* Safari */
  transition: all 0.5s;
  background-color: rgba(0, 0, 0, 0.7);
}
.navbar .dropdown-menu {
  top: 3.9rem;
  border: 0px;
  border-radius: 0px;
  background: #282828;
}
.navbar .dropdown-menu .dropdown-item {
  color: #f1f1f1;
}
.navbar .dropdown-menu .dropdown-item:hover {
  color: #92bfbf;
  background-color: #282828;
}
.navbar-shrink {
  padding: 0.5rem 1rem;
  -webkit-transition: all 0.5s;
  /* Safari */
  transition: all 0.5s;
}
.navbar-shrink .dropdown-menu {
  top: 2.9rem;
}
.navbar-dark .navbar-nav .nav-link {
  color: #f1f1f1;
}
.navbar-dark .navbar-nav .active .nav-link {
  color: #92bfbf;
}
.cover-section {
  color: #f1f1f1;
  height: 100vh;
  position: relative;
}
.cover-section.cover-half {
  height: 50vh;
}
.cover-section h2 {
  font-size: 4rem;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
}
.cover-section p {
  font-size: 1.5rem;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
}
.cover-section .hero-text-dark h2 {
  text-shadow: none;
  color: #4b4b4b;
}
.cover-section .hero-text-dark p {
  text-shadow: none;
  color: #6b6b6b;
}
.cover-section .hero-text-left {
  text-align: left;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}
.cover-section .hero-text-right {
  text-align: right;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(100%, -50%);
}
.cover-section .hero-text-center {
  text-align: center;
  position: absolute;
  top: 50%;
  width: 75%;
  margin: 0 auto;
  transform: translate(12.5%, -50%);
}
.text-section {
  color: #f1f1f1;
  padding: 10rem 0rem;
  overflow: hidden;
  position: relative;
}
.text-section h2,
.text-section p {
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
}
.text-section .text-section-dark h2 {
  text-shadow: none;
  color: #4b4b4b;
}
.text-section .text-section-dark p {
  text-shadow: none;
  color: #6b6b6b;
}
.text-section .text-section-left {
  text-align: left;
  position: absolute;
  top: 50%;
  left: 0;
  padding-left: 5rem;
  transform: translate(0, -50%);
}
.text-section .text-section-right {
  text-align: right;
  position: absolute;
  top: 50%;
  right: 0;
  padding-right: 5rem;
  transform: translate(0, -50%);
}
.text-section .text-section-center {
  text-align: center;
  position: absolute;
  top: 50%;
  width: 60%;
  transform: translate(30%, -50%);
}
.text-section .text-section-image {
  width: 50%;
  position: absolute;
}
.text-section .text-section-image.display-right {
  right: 0;
}
.text-section .text-section-image.position-right-top {
  top: 0;
}
.text-section .text-section-image.position-right-center {
  top: 50%;
  transform: translateY(-50%);
}
.text-section .text-section-image.position-right-bottom {
  top: 100%;
  transform: translateY(-100%);
}
.text-section .text-section-image.position-left-top {
  top: 0;
}
.text-section .text-section-image.position-left-center {
  top: 50%;
  transform: translateY(-50%);
}
.text-section .text-section-image.position-left-bottom {
  top: 100%;
  transform: translateY(-100%);
}
.text-section .text-section-image.position-center-top {
  top: 0;
}
.text-section .text-section-image.position-center-center {
  top: 50%;
  transform: translateY(-50%);
}
.text-section .text-section-image.position-center-bottom {
  top: 100%;
  transform: translateY(-100%);
}
.gallery-item {
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.gallery-item .gallery-item-caption {
  position: absolute;
  width: 100%;
  text-align: center;
  padding: 0 3rem;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  color: #f1f1f1;
  font-size: 1.5rem;
  opacity: 0;
  transition: all 0.5s;
}
.gallery-item:hover .gallery-item-image {
  filter: brightness(50%);
  transition: all 0.5s;
}
.gallery-item:hover .gallery-item-caption {
  opacity: 1;
  transition: all 0.5s;
}
.carousel-caption {
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
}
.carousel-caption .carousel-caption-header {
  font-size: 2.5rem;
}
@media (max-width: 768px) {
  .carousel-caption .carousel-caption-header {
    font-size: 1.5rem;
  }
}
.carousel-caption .carousel-caption-text {
  font-size: 1.2rem;
}
@media (max-width: 768px) {
  .carousel-caption .carousel-caption-text {
    font-size: 1rem;
  }
}
.responsive-embed {
  width: 100%;
}
@keyframes blink {
  0%,
  60% {
    background-color: #282828;
  }
  10%,
  50% {
    background-color: #f1f1f1;
  }
}
#particles-js {
  width: 100%;
  height: 99vh;
  background-color: #282828;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 0;
}
.home-hero {
  font-family: 'Menlo Regular';
  font-variant-numeric: tabular-nums;
  font-size: 1.5rem;
  line-height: 2rem;
  padding-top: 6rem;
  word-break: break-word;
  position: absolute;
  z-index: 100;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 800px;
}
@media (max-width: 414px) {
  .home-hero {
    padding-top: 3rem;
    width: 320px;
    font-size: 1rem;
    line-height: 1.4rem;
  }
}
.home-hero .home-hero-content {
  margin-bottom: 6rem;
}
@media (max-width: 414px) {
  .home-hero .home-hero-content {
    margin-bottom: 4rem;
  }
}
.home-hero .home-hero-content .home-hero-function {
  margin-bottom: 2rem;
  display: inline-block;
}
@media (max-width: 414px) {
  .home-hero .home-hero-content .home-hero-function {
    margin-bottom: 1rem;
  }
}
.home-hero .home-hero-content .home-hero-function:hover {
  -webkit-animation: jello-horizontal 0.9s both;
  animation: jello-horizontal 0.9s both;
  cursor: default;
}
.home-hero .home-code-indent {
  padding-left: 3.5rem;
}
@media (max-width: 414px) {
  .home-hero .home-code-indent {
    padding-left: 2.4rem;
  }
}
.home-hero .terminal-cursor {
  background-color: #282828;
  position: absolute;
  width: 15px;
  -webkit-animation: blink 1s infinite;
  animation: blink 1s infinite;
}
@media (max-width: 414px) {
  .home-hero .terminal-cursor {
    width: 10px;
  }
}
.home-hero .terminal-cursor.hide {
  display: none;
}
.home-social {
  font-size: 1rem;
  position: absolute;
  bottom: 0rem;
  width: 100%;
}
.home-social .anim-object:hover {
  -webkit-animation: wobble-hor-bottom 0.8s both;
  animation: wobble-hor-bottom 0.8s both;
}
